# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# coverage
.coverage
htmlcov/

# python
__pycache__/
*.pyc

# IDE
.idea/
*.iml

